.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #333333;
    background-color: #f5f5f5;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.container {
    width: 600px;
    display: flex;
    flex-direction: column;
}

.header {
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.task_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    width: 100%;
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid 1px #d1d3d4;
}

.text {
    /* width: 100%; */
    flex-grow: 1;
}

.task_list {
    padding-left: 10px;
}

.input-box {
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
    align-items: center;
    gap: 20px
}

.wide {
    overflow: hidden;
    flex-grow: 1;
}

.input {
    font-size: 16px;
    color: #333333;
    height: 40px;
    width: 100%;
    border-radius: 8px;
    border: none;
    display: block;
    padding-left: 16px;
    box-sizing: border-box;
    box-shadow: 2px 4px 12px #00000014;
}

.add-button {
    font-size: 16px;
    color: #ffffff;
    transition: background-color .3s ease-in-out;
    background-color: #87161A;
    border-radius: 8px;
    border: none;
    justify-items: flex-end;
    height: 40px;
    width: 150px;
    box-shadow: 2px 4px 12px #00000014;
}

.delete_btn {
    justify-items: flex-end;
    background-color: #d1d3d4;
    color: #333333;
    font-size: 16px;
    transition: background-color .3s ease-in-out;
    border-radius: 8px;
    border: none;
    justify-items: flex-end;
    height: 36px;
    width: 120px;
    box-shadow: 2px 4px 12px #00000014;
}

.add-button:hover {
    font-size: 16px;
    transition: background-color .3s ease-in-out;
    background-color: #a91d23;
}